venv
.DS_Store
.idea
.vscode
__pycache__
*.pyc
dataset/
classificationModels/advancedClassification/donutFinal/
temp/
aws/model.tar.gz
aws/awsContainer/model_final_0.pth
src/models/
classificationModels/simpleClassification/simpleModel/
results
src/static/uploads/
legacy
classificationModels/advancedClassification/eval_results/temp.py

